asgiref==3.8.1
certifi==2022.6.15
channels==4.2.0
charset-normalizer==2.1.0
daphne==4.1.2
Django==5.2.13
django-bootstrap4==24.4
django-crispy-forms==2.3
django-extensions==3.2.3
crispy_bootstrap4==2024.10
idna==3.3
httpx==0.28.1
sqlparse==0.4.2
websocket-client==1.8.0
whitenoise==6.9.0
mozilla-django-oidc==5.0.2
globus-sdk>=3.40.0
