{% extends 'base.html' %}
<!--{% load crispy_forms_tags %}-->
{% block content %}

<div class="panel panel-default">
    <div align="center">
      {% if data.errors|length %}
    <div class="alert alert-danger" role="alert">
      {% for err in data.errors %}
      <b>{{ err }}</b><br/>
      {% endfor %}
    </div>
    {% endif %}
	<h1 class="text-center"><strong><i>New Mount</i></strong></h1>
    <form class="form-group" action="{% url 'janus:create_profile' resource='volume' %}" method="post" id="session_post_form" style="width:60%">
        {% csrf_token %}
<!--        {% crispy forms %}-->
<!--        {{ forms }}-->
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.name.label }}
            {{ forms.name }}
        </div>
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.type.label }}
            {{ forms.type }}
        </div>
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.driver.label }}
            {{ forms.driver }}
        </div>
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.source.label }}
            {{ forms.source }}
        </div>
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.target.label }}
            {{ forms.target }}
        </div>
        <div class="row" style="padding-left:10%; padding-right:10%; padding-top: 5%">
            <div class="col-sm-4">
              <button class="btn btn-lg btn-block btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Create</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-lg btn-block btn-warning" type="reset"><i class="glyphicon glyphicon-repeat"></i>Reset</button>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-lg btn-block btn-secondary" href="../"><i class="glyphicon glyphicon-repeat"></i>Cancel</a>
            </div>
          </div>
    </form>
        </div>
</div>

{% endblock content %}
