{% extends 'base.html' %}
<!--{% load crispy_forms_tags %}-->
{% block content %}

<div class="panel panel-default">
    <div align="center">
      {% if data.errors|length %}
    <div class="alert alert-danger" role="alert">
      {% for err in data.errors %}
      <b>{{ err }}</b><br/>
      {% endfor %}
    </div>
    {% endif %}
	<h1 class="text-center"><strong><i>New Network</i></strong></h1>
    <form class="form-group" action="{% url 'janus:create_profile' resource='network' %}" method="post" id="network_post_form" style="width:60%">
        {% csrf_token %}
<!--        {% crispy forms %}-->
<!--        <div>-->
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.name.label }}
            {{ forms.name }}
        </div>
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.driver.label }}
            {{ forms.driver }}
        </div>
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.mode.label }}
            {{ forms.mode }}
        </div>
        <div id="app">
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            <div class="row">
                <div class="col-sm-5">
                  <label>Subnet</label>
	      </div>
            <div class="col-sm-5">
                  <label>Gateway</label>
	      </div>
            </div>
        <div class="row" v-for="row in rows">
              <div class="col-sm-5">
                    {{ forms.subnet }}
	      </div>
            <div class="col-sm-5">
                    {{ forms.gateway }}
	      </div>
            <div class="col-xs-1">
	        <button class="btn btn-success" @click="addRow" type="button">+</button>
              </div>
              <div class="col-xs-1">
	        <button class="btn btn-danger" @click="deleteRow(row)" type="button">x</button>
              </div>
            </div>
        </div>
            </div>
        <div id="app2">
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            <div class="row">
                <div class="col-sm-5">
                  <label>Option</label>
	      </div>
            <div class="col-sm-5">
                  <label>Value</label>
	      </div>
            </div>
        <div class="row" v-for="row in rows">
              <div class="col-sm-5">
                    {{ forms.options }}
<!--            <select class="form-control" name="option" id="" v-model="row.select">-->
<!--	          {% for item in options %}-->
<!--	          <option {{ item }}></option>-->
<!--	          {% endfor %}-->
<!--	        </select>-->
	        </div>
                <div class="col-sm-5">
                    {{ forms.values }}
	        </div>
            <div class="col-xs-1">
	        <button class="btn btn-success" @click="addRow" type="button">+</button>
              </div>
              <div class="col-xs-1">
	        <button class="btn btn-danger" @click="deleteRow(row)" type="button">x</button>
              </div>
            </div>
        </div>
            </div>
        <div style="padding-left:10%; padding-right:10%; padding-top: 2%">
            {{ forms.enable_ipv6.label }}
            {{ forms.enable_ipv6 }}
        </div>
        <div class="row" style="padding-left:10%; padding-right:10%; padding-top: 5%">
            <div class="col-sm-4">
              <button class="btn btn-lg btn-block btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Create</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-lg btn-block btn-warning" type="reset"><i class="glyphicon glyphicon-repeat"></i>Reset</button>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-lg btn-block btn-secondary" href="../"><i class="glyphicon glyphicon-repeat"></i>Cancel</a>
            </div>
          </div>
    </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>

<script>
new Vue({
	el: '#app',
	data: {
		rows: [
			{ 'select': 1 }
		]
	},
	methods: {
		addRow: function() {
			this.rows.push({'select': 1 });
		},
		deleteRow: function(row) {
			this.rows.$remove(row);
		}
	}
})

new Vue({
	el: '#app2',
	data: {
		rows: [
			{ 'select': 1 }
		]
	},
	methods: {
		addRow: function() {
			this.rows.push({'select': 1 });
		},
		deleteRow: function(row) {
			this.rows.$remove(row);
		}
	}
})
</script>

{% endblock content %}
