{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <a class="btn btn-primary btn-lg" role="button" href="{% url 'janus:create_session' %}">Create</a>
    </div>

    <div class="container" style="padding-top: 2%">
        {% if sessions|length %}
            <table class="table">
                <thead>
                <tr>
                    <th>Session ID</th>
                    <th>Created By</th>
		    <th>Service Nodes</th>
                    <th>Container Image</th>
                    <th>Container Profile</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for data in sessions %}
                <tr>
                    <td> {{ data.id }} </td>
                    <td> {{ data.user }} </td>
		    <td>
		      {% for n in data.nodes %}
		      <i>{{ n }}</i><br/>
		      {% endfor %}
		    </td>
                    <td> {{ data.image }} </td>
                    <td> {{ data.profile }} </td>
                    <td> {{ data.state }} </td>
                    {% if login %}
                        {% if data.state == 'INITIALIZED' %}
                            <td>
                                <a href= "{% url 'janus:start_session' session_id=data.id %}">start</a>
                                ,
                                <a href= "{% url 'janus:delete_session' session_id=data.id %}">delete</a>
                            </td>
                        {% elif data.state == 'STOPPED' %}
                            <td>
                                <a href= "{% url 'janus:start_session' session_id=data.id %}">start</a>
                                ,
                                <a href= "{% url 'janus:delete_session' session_id=data.id %}">delete</a>
                            </td>
                        {% else %}
                            <td><a href= "{% url 'janus:stop_session' session_id=data.id %}">stop</a></td>
                        {% endif %}
                    {% endif%}
                </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="container" style="padding-top: 5%">
                <h5>No controller sessions found!</h5>
            </div>

        {% endif %}
    </div>
{% endblock content %}
