{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    {% if data.errors|length %}
    <div class="alert alert-danger" role="alert">
      {% for err in data.errors %}
      <b>{{ err }}</b><br/>
      {% endfor %}
    </div>
    {% endif %}
    <div class="container" style="padding-top: 2%">
      <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
	  <b>Active Sessions</b>
          <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:create_session' %}">Create</a>
	</div>
        <div class="card-body">
	  <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th/>
                <th>ID</th>
                <th>Created By</th>
		<th>Endpoints</th>
                <th>Container Image</th>
                <th>Container Profile</th>
                <th>State</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in sessions %}
                <tr data-toggle="collapse" data-target="#row-{{ data.id }}" class="accordion-toggle">
                <td><span class="fa-solid fa-chevron-right"></span></td>
                <td> {{ data.id }} </td>
                <td> {{ data.user }} </td>
		<td>
		  {% for n in data.nodes %}
		  <i>{{ n }}</i><br/>
		  {% endfor %}
		</td>
                <td> {{ data.image }} </td>
                <td> {{ data.profile }} </td>
                <td> {{ data.state }} </td>
                {% if data.state == 'INITIALIZED' or data.state == 'STOPPED' %}
                  <td>
                    <a title="start" href="{% url 'janus:start_session' session_id=data.id %}" class="btn btn-sm btn-success">
                      <span class="fa-solid fa-play"></span>
                    </a>
                    <a title="delete" href="{% url 'janus:delete_session' session_id=data.id %}" class="btn btn-sm btn-danger">
                      <span class="fa-solid fa-xmark"></span>
                    </a>
                  </td>
                {% elif data.state == 'MIXED' %}
                  <td>
                    <a title="stop" href="{% url 'janus:stop_session' session_id=data.id %}" class="btn btn-sm btn-secondary">
                      <span class="fa-solid fa-stop"></span>
                    </a>
                    <a title="delete" href="{% url 'janus:delete_session' session_id=data.id %}" class="btn btn-sm btn-danger">
                      <span class="fa-solid fa-xmark"></span>
                    </a>
                  </td>
                  {% else %}
                  <td>
                    <a title="stop" href="{% url 'janus:stop_session' session_id=data.id %}" class="btn btn-sm btn-secondary">
                      <span class="fa-solid fa-stop"></span>
                    </a>
                  </td>
                {% endif%}
              </tr>
              <tr>
                <td colspan="12" class="hiddenRow">
                  <div class="accordian-body collapse" id="row-{{ data.id }}">
                    <div align="center">
                      <table class="table table-condensed table-bordered" style="width: 1024px;">
                        <thead>
                          <th>SSH</th>
                          <th>Control Ports</th>
                          <th>Service Ports</th>
                          <th>Data Net Interfaces</th>
                        </thead>
                        <tbody>
                          <tr class="table-muted">
                            <td class="col-sm-6">
                              {% for k,v in data.data.services.items %}
                              {% for srv in v %}
                              <div class="janus-pre"><b>{{k}}</b>: ssh {{ srv.container_user | default:"&lt;user>" }}@{{ srv.ctrl_host }}{% if srv.ctrl_port %} -p {{ srv.ctrl_port }}{% endif %}</div>
                              {% endfor %}
                              {% endfor %}
                            </td>
                            <td class="col-sm-2">
                              {% for k,v in data.data.services.items %}
                              {% for srv in v %}
                              <div class="janus-pre">{{ srv.ctrl_port }}</div>
                              {% endfor %}
                              {% endfor %}
                            </td>
                            <td class="col-sm-2">
                              {% for k,v in data.data.services.items %}
                              {% for srv in v %}
                              <div class="janus-pre">{{ srv.serv_port }}</div>
                              {% endfor %}
                              {% endfor %}
                            </td>
                            <td class="col-sm-2">
                              {% for k,v in data.data.services.items %}
                              {% for srv in v %}
                              <div class="janus-pre">{{ srv.data_ipv4|default:"" }}{% if srv.data_ipv6 %}, {% endif %}{{ srv.data_ipv6|default:"" }}</div>
                              {% endfor %}
                              {% endfor %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    {% if data.tools %}
                    <div align="center">
                      <table class="table table-condensed" style="width: 1024px;">
                        <tr data-toggle="collapse" id="perfrow-{{data.id}}" data-target="#testrow-{{ data.id }}" class="accordion-toggle table-success">
                          <td class="col-sm-1"><span class="fa-solid fa-chevron-right"></span></td>
                          <td class="col-sm-3 align-right align-middle"><b>Performance Test</b></td>
                          <td class="col-sm-2">
                            <select class="custom-select custom-select-sm" id="{{data.id}}-testtool">
                              <option disabled selected value>-- tool --</option>
                              {% for item in data.tools %}
                              <option value="{{ item }}" label="{{ item }}"></option>
                              {% endfor %}
                            </select>
                          </td>
                          <td class="col-sm-3">
                            <input id="{{data.id}}-testinput" class="form-control form-control-sm" type="text" placeholder="destination override..."/>
                          </td>
                          <td class="col-sm-2">
                            <input id="{{data.id}}-testduration" class="form-control form-control-sm" type="text" placeholder="time (s)"/>
                          </td>
                          <td class="col-sm-2" align="right">
                            <button type="button" id="{{data.id}}-testbtn" value="{{data.id}}">Run</button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="testrow-{{ data.id }}">
                              <textarea readonly style="font-family:monospace" id="testlog-{{data.id}}" cols="100" rows="20"></textarea>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                    {% endif %}
                    <div align="center">
                      <table class="table table-condensed" style="width: 1024px;">
                        <tr data-toggle="collapse" id="logrow-{{data.id}}" data-target="#logdisp-{{ data.id }}" class="accordion-toggle table-ok">
                          <td class="col-sm-1"><span class="fa-solid fa-chevron-right"></span></td>
                          <td class="col-sm-3 align-right align-middle"><b>Logs</b></td>
                          <td class="col-sm-3">
                          </td>
                          <td class="col-sm-2 align-middle">
                            <div class="form-check form-check-inline">
                              <input id="{{data.id}}-ts" class="form-check-input" type="checkbox" data-toggle="toggle" data-style="mr-1">
                              <label for="{{data.id}}-ts" class="form-check-label">Timestamps</label>
                            </div>
                          </td>
                          <td class="col-sm-2">
                            <select class="custom-select custom-select-sm" id="{{data.id}}-node">
                              <option disabled selected value>-- node --</option>
                              {% for item in data.nodes %}
                              <option value="{{ item }}" label="{{ item }}"></option>
                              {% endfor %}
                            </select>
                          </td>
                          <td class="col-sm-1" align="right">
                            <button class="btn inline" id="{{data.id}}-refresh" ><i class="fas fa-refresh"></i></button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="logdisp-{{ data.id }}">
                              <textarea readonly style="font-family:monospace" id="logs-{{data.id}}" cols="100" rows="20"></textarea>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
	          </div>
                </td>
              </tr>
              {% endfor %}
              {{ sessions|json_script:"data" }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 id="errorModal-text"></h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block footer_scripts %}
{{ block.super}}
<script>
  const sessions = JSON.parse(document.getElementById('data').textContent);
  const sock = new WebSocket(
    'ws://'
      + window.location.host
      + '/ws/perf/'
  );
  sock.onmessage = function(e) {
    //console.log(e.data);
    const data = JSON.parse(e.data);
    const sid = data['sid'];
    if (data['done']) {
      $('#perfrow-'+sid).removeClass('table-warning').addClass('table-success')
    };
    if (data["data"]) {
      $('#testlog-'+sid).val($('#testlog-'+sid).val() + (data["data"].replace(/\0/g, '')));
      $('#testlog-'+sid).animate({
        scrollTop:$('#testlog-'+sid)[0].scrollHeight - $('#testlog-'+sid).height()
      });
    };
  };
  sock.onclose = function(e) {
    console.error('Exec socket closed unexpectedly');
  };
  $(":button[id$=testbtn]").click(function (e) {
    if (! this.id) {
      return;
    };
    const sid = this.value;
    const sess = sessions.find(({ id }) => id == sid);
    if (sess["state"] != "STARTED") {
      $('#errorModal-text').html("Session must be started first.");
      $('#errorModal').modal();
      return;
    };
    const host = $('#'+sid+'-testinput').val();
    const duration = $('#'+sid+'-testduration').val();
    const tool = $('#'+sid+'-testtool').val();
    if (! tool) {
      $('#errorModal-text').html("No tool selected.");
      $('#errorModal').modal();
      return;
    };
    const data = {'sess': sess,
                  'sid': sid,
                  'hostname': host,
                  'duration': duration,
                  'tool': tool
                 }
    $('#perfrow-'+sid).removeClass('table-success').addClass('table-warning')
    $('#testlog-'+sid).val("");
    sock.send(JSON.stringify(data));
  });

  function get_logs(sid, nname) {
    const ts = $("#"+sid+"-ts").is(":checked");
    const sess = sessions.find(({ id }) => id == sid);
    var url = window.location.href + sid
        + '/logs/' + nname
        + '?timestamps=' + ts;
    // Making our request
    fetch(url, { method: 'GET' })
      .then(Result => Result.json())
      .then(string => {
        if (!string.response) {
          string.response = "-- logs empty --";
        }
        $('#logs-'+sid).val(string.response);
        $('#logs-'+sid).animate({
          scrollTop:$('#logs-'+sid)[0].scrollHeight - $('#logs-'+sid).height()
        });
      })
      .catch(errorMsg => { console.log(errorMsg); });
  };

  $(".btn").click(function(e) {
    const sid = this.id.split("-")[0];
    const nname = $("#"+sid+"-node").val();
    get_logs(sid, nname);
  });
  $(".custom-select[id$=node]").change(function (e) {
    const sid = this.id.split("-")[0];
    const nname = this.value;
    get_logs(sid, nname);
  });

</script>
{% endblock footer_scripts %}
