{% extends 'base.html' %}
{% load janus_filters %}
{% block content %}

    <div class="container" style="padding-top: 2%">
      <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
	  <b>Available Nodes</b>
          <div>
            <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:refresh_node' %}">Refresh</a>
            <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:add_node' %}">Add</a>
          </div>
	</div>
        <div class="card-body">
	  <table class="table table-condensed table-striped table-hover">
            <thead>
              <tr>
                <th></th>
		<th></th>
                <th>Name</th>
                <th>Docker Endpoint</th>
                <th>CPU Model</th>
                <th>CPU #Core</th>
                <th>Memory</th>
                {% if is_admin %}
                <th>Delete</th>
                {% endif %}
                <!-- <th>Available Images</th> -->
            </tr>
            </thead>
            <tbody>
              {% for data in nodes|dictsort:"name" %}
              <tr data-toggle="collapse" data-target="#row-{{ data.id }}" class="accordion-toggle">
                <td><span class="fa-solid fa-chevron-right"></span></td>
	        <td>
		  {% if not data.status %}
		    <span class="status-na">●</span>
		  {% elif data.status == 1 %}
		    <span class="status-ok">●</span>
		  {% else %}
		    <span class="status-nok">●</span>
		  {% endif %}
	        </td>
		<td> {{ data.name }} </td>
                <td> {{ data.url }} </td>
                <td> {{ data.cpu_model }} </td>
                <td> {{ data.cpu_core }} </td>
                <td> {{ data.memory_str }} </td>
                {% if is_admin %}
                <td class="d-flex justify-content-center">
                  <a href= "{% url 'janus:remove_node' nname=data.name %}" class="btn btn-sm btn-danger">
                    <span class="fa-solid fa-xmark"></span>
                  </a>
                </td>
                {% endif%}
              <tr>
                <td colspan="12" class="hiddenRow">
                  <div class="accordian-body collapse" id="row-{{ data.id }}">
                    <div align="center">
                      <table class="table table-condensed table-bordered" style="width: 1024px;">
                        <thead>
                          <th>Network</th>
                          <th>Driver</th>
                          <th>Parent</th>
                          <th>MTU</th>
                          <th>IPAM</th>
                        </thead>
                        <tbody>
                          {% for n,net in data.data.networks.items|dictsort:0 %}
                          <tr class="table-muted">
                            <td>{{ n }}</td>
                            <td>{{ net.driver }}</td>
                            <td>{{ net.parent}}</td>
                            <td>{{ net|get_key:"com.docker.network.driver.mtu"|default_if_none:"" }}</td>
                            <td>
                              {% for s in net.subnet %}
                              {{ s.Subnet }}<br/>
                              {% endfor %}
                            </td>
                          </tr>
                          {% endfor %}
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock content %}
