{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <a class="btn btn-primary btn-lg" role="button" href="{% url 'janus:add_node' %}">Add</a>
    </div>

    <div class="container" style="padding-top: 2%">
        {% if nodes|length %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Docker Endpoint</th>
                <th>CPU Model</th>
                <th>CPU #Core</th>
                <th>Memory</th>
                <th>Delete?</th>
                <!-- <th>Available Images</th> -->
            </tr>
            </thead>
            <tbody>
            {% for data in nodes %}
            <tr>
                <td> {{ data.name }} </td>
                <td> {{ data.url }} </td>
                <td> {{ data.cpu_model }} </td>
                <td> {{ data.cpu_core }} </td>
                <td> {{ data.memory_str }} </td>
                {% if login %}
                  <td><a href= "{% url 'janus:remove_node' nname=data.name %}" class="text-danger">YES!</a></td>
                {% endif%}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="container">
                <h5>No node has been registered yet!</h5>
            </div>

        {% endif %}

    </div>
{% endblock content %}
