{% extends 'base.html' %}
{% load bootstrap4 %}
{% load janus_filters %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container" style="padding-top: 2%" >
    {% if data.errors|length %}
    <div class="alert alert-danger" role="alert">
      {% for err in data.errors %}
      <b>{{ err }}</b><br/>
      {% endfor %}
    </div>
    {% endif %}
      <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
	  <b>Available Profiles</b>
          <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:create_profile' %}">Create</a>
	</div>
        <div class="card-body">
	  <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>CPU #Core</th>
                <th>Memory (Bytes)</th>
                <th>Affinity</th>
                <th>Network</th>
                <th>QoS Profile</th>
                {% if is_admin %}
                <th>Delete?</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
              {% for data in profiles %}
              <tr data-toggle="collapse" data-target="#row-{{ data.name }}" class="accordion-toggle">
                <td><span class="fa-solid fa-chevron-down"></span></td>
                <td> {{ data.name }} </td>
                <td> {{ data.settings.cpu }} </td>
                <td> {{ data.settings.mem }} </td>
                <td> {{ data.settings.affinity }} </td>
                <td>
                    {% if 'name' in data.settings.mgmt_net %}
                    <div>
                        {{ data.settings.mgmt_net.name }}<br/>
                        <b>ipv4_addr</b>: {{ data.settings.mgmt_net.ipv4_addr|default:''}}<br/>
                        <b>ipv6_addr</b>: {{ data.settings.mgmt_net.ipv6_addr|default:''}}
                    </div>
                    {% else %}
                    {{ data.settings.mgmt_net }}
                    {% endif %}
                </td>
                <td> {{ data.qos }} </td>
                {% if is_admin %}
                <td class="d-flex justify-content-center">
                  <a href= "{% url 'janus:remove_node' nname=data.name %}" class="btn btn-sm btn-danger">
                    <span class="fa-solid fa-xmark"></span>
                  </a>
                </td>
                {% endif%}
              </tr>
              <tr>
                <td colspan="12" class="hiddenRow">
                  <div class="accordian-body collapse" id="row-{{ data.name }}">
                    <div class="container">
                      {% csrf_token %}
                      {% with form=forms|get_form:data.name %}
                      {% crispy form %}
                      {% endwith %}
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock content %}
