{% extends 'base.html' %}
{% block content %}
    {% if login %}
    <div class="container">
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'janus:create_profile' %}">Create</a>
    </div>
    {% endif %}

    <div class="container">
        {% if profiles|length %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>CPU #Core</th>
                <th>Memory (Bytes)</th>
                <th>Affinity</th>
                <th>Network</th>
                <th>QoS Profile</th>
                <th>Delete?</th>
            </tr>
            </thead>
            <tbody>
            {% for data in profiles %}
            <tr>
                <td> {{ data.pname }} </td>
                <td> {{ data.cpu }} </td>
                <td> {{ data.mem }} </td>
                <td> {{ data.affinity }} </td>
                <td>
                    {% if 'name' in data.mgmt_net %}
                    <div>
                        {{ data.mgmt_net.name }}<br/>
                        <b>ipv4_addr</b>: {{ data.mgmt_net.ipv4_addr|default:''}}</br>
                        <b>ipv6_addr</b>: {{ data.mgmt_net.ipv6_addr|default:''}}
                    </div>
                    {% else %}
                    {{ data.mgmt_net }}
                    {% endif %}
                </td>
                <td> {{ data.qos }} </td>
                {% if login %}
                    <td><a href= "{% url 'janus:delete_profile' pname=data.pname %}" class="text-danger">YES!</a></td>
                {% endif%}
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <div class="container">
                <h5>No container profiles found!</h5>
            </div>

        {% endif %}
    </div>
{% endblock content %}
