{% extends 'base.html' %}
{% load bootstrap4 %}
{% load janus_filters %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container" style="padding-top: 2%" >
    {% if data.errors|length %}
    <div class="alert alert-danger" role="alert">
      {% for err in data.errors %}
      <b>{{ err }}</b><br/>
      {% endfor %}
    </div>
    {% endif %}

    <div class="card bg-light mb-3">
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="host-tab" data-toggle="tab" href="#host" role="tab" aria-controls="host" aria-selected="true"><b>Container</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="network-tab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false"><b>Network</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="volume-tab" data-toggle="tab" href="#volume" role="tab" aria-controls="volume" aria-selected="false"><b>Volume</b></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="host" role="tabpanel" aria-labelledby="host-tab">

          <div class="card-header d-flex justify-content-between align-items-center">
	    <b>Available Profiles</b>
	    <div>
	      <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:refresh_profiles' %}">Refresh</a>
              <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:create_profile' resource='host' %}">Create</a>
	    </div>
	  </div>
          <div class="card-body">
	    <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>CPU #Core</th>
                  <th>Memory (Bytes)</th>
                  <th>Mgmt Network</th>
                  <th>Data Network</th>
                  <th>QoS Profile</th>
                  {% if is_admin %}
                  <th>Delete?</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for data in profiles|dictsort:"name" %}
                <tr data-toggle="collapse" data-target="#row-{{ data.name }}" class="accordion-toggle">
                  <td><span class="fa-solid fa-chevron-right"></span></td>
                  <td> {{ data.name }} </td>
                  <td> {{ data.settings.cpu }} </td>
                  <td> {{ data.settings.mem }} </td>
                  <td>
                    {% if data.settings.mgmt_net_ipv4 %}
                    <div>
                      {{ data.settings.mgmt_net }}<br/>
                      <b>ipv4_addr</b>:
                      {% if data.settings.mgmt_net_ipv4|get_type == 'list' %}
                        {% for a in data.settings.mgmt_net_ipv4 %}
                          {{ a }}
                        {% endfor %}
                      {% else %}
                        {{ data.settings.mgmt_net_ipv4|default:''}}
                      {% endif %}
                      <br/>
                      <b>ipv6_addr</b>:
                      {% if data.settings.mgmt_net_ipv6|get_type == 'list' %}
                        {% for a in data.settings.data_net_ipv6 %}
                          {{ a }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      {% else %}
                        {{ data.settings.mgmt_net_ipv6|default:''}}
                      {% endif %}
                    </div>
                    {% else %}
                    {{ data.settings.mgmt_net }}
                    {% endif %}
                  </td>
                  <td>
                    {% if data.settings.data_net_ipv4 %}
                    <div>
                      {{ data.settings.data_net }}<br/>
                      <b>ipv4_addr</b>:
                      {% if data.settings.data_net_ipv4|get_type == 'list' %}
                      {% for a in data.settings.data_net_ipv4 %}
                        {{ a }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      {% else %}
                        {{ data.settings.data_net_ipv4|default:''}}
                      {% endif %}
                      <br/>
                      <b>ipv6_addr</b>:
                      {% if data.settings.data_net_ipv6|get_type == 'list' %}
                        {% for a in data.settings.data_net_ipv6 %}
                          {{ a }}
                        {% endfor %}
                      {% else %}
                        {{ data.settings.data_net_ipv6|default:''}}
                      {% endif %}
                    </div>
                    {% else %}
                    {{ data.settings.data_net }}
                    {% endif %}
                  </td>
                  <td> {{ data.settings.qos| default:"" }} </td>
                  {% if is_admin %}
                  <td class="d-flex justify-content-center">
                    <a href= "{% url 'janus:delete_profile' resource='host' pname=data.name %}" class="btn btn-sm btn-danger">
                      <span class="fa-solid fa-xmark"></span>
                    </a>
                  </td>
                  {% endif%}
                </tr>
                <tr>
                  <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="row-{{ data.name }}">
                      <div class="container">
                        {% with key="host_"|addstr:data.name %}
                          {% csrf_token %}
                          {% with form=forms|get_form:key %}
                            {% crispy form %}
                          {% endwith %}
                        {% endwith %}
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-tab">
          <div class="card-header d-flex justify-content-between align-items-center">
	    <b>Available Networks</b>
	    <div>
	      <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:refresh_profiles' %}">Refresh</a>
              <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:create_profile' resource='network' %}">Create</a>
	    </div>
	  </div>
          <div class="card-body">
	    <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Driver</th>
                  <th>IPv6Enabled</th>
                  <th>Subnets</th>
                  {% if is_admin %}
                  <th>Delete?</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for data in nets|dictsort:"name" %}
                <tr data-toggle="collapse" data-target="#row-net-{{ data.name }}" class="accordion-toggle">
                  <td><span class="fa-solid fa-chevron-right"></span></td>
                  <td> {{ data.name }} </td>
                  <td> {{ data.settings.driver }} </td>
                  <td> {{ data.settings.enable_ipv6|default:'' }} </td>
                  <td> {{ data.settings.ipam.config|default:'' }} </td>
                  <td/>
                  {% if is_admin %}
                  <td class="d-flex justify-content-center">
                    <a href= "{% url 'janus:delete_profile' resource='network' pname=data.name %}" class="btn btn-sm btn-danger">
                      <span class="fa-solid fa-xmark"></span>
                    </a>
                  </td>
                  {% endif%}
                </tr>
                <tr>
                  <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="row-net-{{ data.name }}">
                      <div class="container">
                        {% with key="network_"|addstr:data.name %}
                          {% csrf_token %}
                          {% with form=forms|get_form:key %}
                            {% crispy form %}
                          {% endwith %}
                        {% endwith %}
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="volume" role="tabpanel" aria-labelledby="volume-tab">
          <div class="card-header d-flex justify-content-between align-items-center">
	    <b>Available Volumes</b>
	    <div>
	      <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:refresh_profiles' %}">Refresh</a>
              <a class="btn btn-primary btn-md" role="button" href="{% url 'janus:create_profile' resource='volume' %}">Create</a>
	    </div>
	  </div>
          <div class="card-body">
	    <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Source</th>
                  <th>Target</th>
                  {% if is_admin %}
                  <th>Delete?</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for data in vols|dictsort:"name" %}
                <tr data-toggle="collapse" data-target="#row-vol-{{ data.name }}" class="accordion-toggle">
                  <td><span class="fa-solid fa-chevron-right"></span></td>
                  <td> {{ data.name }} </td>
                  <td> {{ data.settings.type }} </td>
                  <td> {{ data.settings.source }} </td>
                  <td> {{ data.settings.target }} </td>
                  {% if is_admin %}
                  <td class="d-flex justify-content-center">
                    <a href= "{% url 'janus:delete_profile' resource='volume' pname=data.name %}" class="btn btn-sm btn-danger">
                      <span class="fa-solid fa-xmark"></span>
                    </a>
                  </td>
                  {% endif%}
                </tr>
                <tr>
                  <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="row-vol-{{ data.name }}">
                      <div class="container">
                        {% with key="volume_"|addstr:data.name %}
                          {% csrf_token %}
                          {% with form=forms|get_form:key %}
                            {% crispy form %}
                          {% endwith %}
                        {% endwith %}
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
